<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144617374104-at4m556iuiqftj2ruum3ibpa749u0gdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144617374104-at4m556iuiqftj2ruum3ibpa749u0gdd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144617374104-0r6kebvurvamuhj5bgb9baiuqjhdh5e8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCA5ZaSKS57WkeKKKAF0NfZ9PomvN1eGXI</string>
	<key>GCM_SENDER_ID</key>
	<string>144617374104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cnb.cnbappv2</string>
	<key>PROJECT_ID</key>
	<string>cnbmobile-2053c</string>
	<key>STORAGE_BUCKET</key>
	<string>cnbmobile-2053c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144617374104:ios:46597af7a92d144137abed</string>
</dict>
</plist>